html {
    scroll-behavior: smooth;
    font-family: 'Courier New', monospace;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}
#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 2147483647;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    
    margin-left: -16px;
    margin-top: -16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
header {
    width: 100%;
    display: inline-block;
}
#navbar {
    height: 33.125px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#name {
    font-size: 29.3px; /* 23.44 */
    margin-left: 15px;
    position: absolute;
    letter-spacing: 6px;
    font-variant: small-caps;
}
#nav {
    margin-right: 0px;
    position: relative;
    float: right;
    display: inline;
}
.navicon {
    font-size: 15px;
    float: left;
    display: inline; 
    margin-right: 75px;
    margin-top: 9.6px;
    outline-style: solid;
    outline-width: 0.5px;
    outline-color: transparent;
    outline-offset: 0px;
}
.navicon:hover {
    outline-color: rgb(0, 0, 0);
}
.navicon.activeNavicon {
    outline-color: rgb(0, 0, 0);
}
#nav2 {
    display: none;
}
#lang {
    margin-right: 60px;
    position: relative;
    float: right;
    display: inline;
    opacity: 0%;
}
.langSelect {
    font-size: 15px;
    float: left;
    display: inline;
    margin-top: 9.6px;
}
main {
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    flex: none;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
#container::-webkit-scrollbar {
    display: none;
}
.page {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scroll-snap-align: center;
    flex: none;
    
}
.page::-webkit-scrollbar {
    display: none;
}
#home {
    overflow-y: hidden;
}
#aboutPage,
#soundsPage,
#visualsPage,
#interdisciplinaryPage,
#notationsPage,
#contactPage {
    overflow-y: scroll;
}
.content {
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 53.125px;
    margin-left: 15px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: 80;
    text-align: left;
    height: fit-content;

    outline-style: solid;
    outline-width: 0.5px;
    outline-color: rgb(0, 0, 0);
}
#biographyEN {
    position: relative;
    display: block;
    line-height: 2;
}
#biographyJA {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    position: relative;
    display: none;
    line-height: 2;   
}
#logo {
    display: block; 
    width: 100%;
    height: 39.69px; 
}
#mylogo {
    position: relative;
    width: 56.692913px;
    height: 56.692913px;
    float: right; 
}
#cvrésumé {
    width: fit-content;
    margin-right: 0px;
    display: block;
    position: relative;
}
#cvrésuméhide {
    width: fit-content;
    
    position: relative;
}
#cvResume {
    display: none;
    position: relative;
    line-height: 1;
}
.cvResumeHeader {
    margin-left: 11%;
}
colgroup.when {
    width: 20%;
}
colgroup.what {
    width: 80%;
}
table.cvResume {
    width: 100%;
    text-indent: 0px;
    line-height: 1;
    border-spacing: 0px;
}
tr.cvResume {
    border: 0;
}
td.cvResumeWhen {
    text-align: right;
    float: right;
    vertical-align: text-top;
    padding: 0px 6px 0px 0px; 
}
td.cvResumeWhat {
    text-align: left;
    padding: 0px;
}
#cvResumeSkills {
    margin-left: 11%;
}
#cvResumeEducation {
    margin-left: 11%;
}
#soundsPage { 
    overflow-y: scroll;
}
.audioPlayer {
    vertical-align: top;
    margin-bottom: 36px;
}
.albumCover {
    display: inline-block;
    width: 108px;
    height: 108px;
    background-color: rgb(127, 127, 127);
    background-repeat: no-repeat;
    background-size: cover;
}
.albumDescription {
    display: inline-block;
    width: calc(100% - 144px);
    height: 108px;
    margin-left: 3px;
    overflow-y: scroll;
    line-height: 1.5;
}
.albumDescription::-webkit-scrollbar {
    display: none;       
}
table {
    box-sizing: content-box;
    border: none;
}
.tracks {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    color: rgb(0, 0, 0,);
    cursor: default;
}
table.sounds {
    width: 100%;
    border-collapse: collapse;
}
td.sounds {
    padding: 0;
}
svg {
    vertical-align: middle;
}
colgroup.track{
    width: 1%;
}
colgroup.title{
    width: 96%;
}
colgroup.duration{
    width: 2%;
}
colgroup.toggle {
    width: 1%;
}
.bi-play-fill {
    display: inline-block;
}
.bi-pause-fill {
    display: none;
}
tr.sounds {
    outline-style: solid;
    outline-width: 0.5px;
    outline-color: transparent;
    outline-offset: 0px;
}
tr.sounds:hover { 
    outline-color: rgb(0, 0, 0);
}
tr.activeTrack {
    outline-color: rgb(0, 0, 0);
}
#exitFullScreen {
    width: 16px;
    height: 16px;
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2147483647;
}
#fullScreenPicture {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 2147483645;
}
#vplayer {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483645;
}
video::-webkit-media-controls {
    display:none !important;
}
#fullScreenBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    display: none;
    background-color: rgb(0,0,0);
    z-index: 2147483643;
}
.vrow {
    width: 100%;
    height: fit-content;
}
a:link { 
    color: rgb(0,0,0);
}
.vcontrol {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain; 
}
#vcontrolFullScreen {
    width: 32px;
    height: 32px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain; 
    z-index: 2147483647;
}
.vloader {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    z-index: 99;
}
.vplaypause {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(159, 159, 159);
}
#vplaypauseFullScreen {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(159, 159, 159);
    z-index: 2147483647;
}
#vbi-play-fullscreen {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
}
#vbi-pause-fullscreen {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vbi.bi-play-fill {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
}
.vbi.bi-pause-fill {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video {
    width: 66%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    display: inline-block;
}
.imgsContainer {
    width: 100%;
    position: relative;
    display: inline-block;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}
.multiImg {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
    flex: none;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.multiImg::-webkit-scrollbar {
    display: none;
}
.left {
    width: 30px; 
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 2;
}
.right {
    width: 30px; 
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 2;
}
.img {
    width: 100%;
    flex: none;
    overflow-y: hidden;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 24px;
}
.emptyspace {
    width: 100%;
    height: 38.2vh;
    display: block;
}
.label {
    position: relative;
    display: block;

}
#compositions {
    width: 66%;
    margin-right: 0px;
    display: contents;
}
#arrangements {
    width: 66%;
    margin-right: 0px;
    display: contents;
}
.scorerow {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}
.score {
    margin-top: 1px;
    margin-left: 1px;
    width: 33%;
    position: relative;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(1px);
}
.scoreinfo {
    position: absolute;
    display: inline-block;
    padding-left: 12px;
}
.emptyspace2 {
    width: 100%;
    height: 23.6vh;
}
.emailAddress {
    width: 100%;
}
#emailAddress {
    width: 75%;
    display: inline-block;
}
#menuEN {
    position: relative;
    display: block;
    line-height: 1.5;
    margin-bottom: 36px;
}
#menuJA {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    position: relative;
    display: none;
    line-height: 2;
    margin-bottom: 36px;
}
input {
    width: 100%;
    border: none;
    background: none;
}
::placeholder {
    /* font-family: 'Helvetica Neue', Helvetica, Arial; */
    font-family: 'Courier New', monospace;
    font-size: 9.6px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: 80;
}
input:focus {
    border: none;
    background: none;
    outline: none; 
}
input:hover {
    cursor: default;
}
input[type=text] {
    /* font-family: 'Helvetica Neue', Helvetica, Arial; */
    font-family: 'Courier New', monospace;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: 80;
    color: rgb(0, 0, 0,);
    padding: 0px;
}
textarea {
    width: 100%;
    height: 25vh;
    resize: none;
    border: none;
    background: none;
    /* font-family: 'Helvetica Neue', Helvetica, Arial; */
    font-family: 'Courier New', monospace;
    font-size: 9pt;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: 80;
    color: rgb(0, 0, 0,);
    padding: 0;
}
textarea:focus {
    border: none;
    background: none;
    outline: none; 
}
#sns {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    margin-bottom: 36px;    
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0,);
}
u {
    cursor: default;
}
.snsIcons {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    cursor: default;
}
footer {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    right: 0px;
    bottom: 38.2vh;
    position: absolute;
    font-size: 12px;
}
@media(max-width: 1350px) {
    header {
        height: 74.26px;
    }
    #container {
        height: calc(100vh - 120px);
    }
    #navbar {
        width: 100%;
        height: 70.26px;
        position: absolute;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    #name {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    #nav {
        display: none;
    }
    .navicon {
        display: none;
    }
    #nav2 {
        height: 26.5px;
        position: relative;
        top: 26.5px;
        align-items: center;
        width: 100%;
        display: flex;
        overflow: auto;
        overflow-y: hidden;
        flex-flow: row nowrap;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

    }
    #nav2::-webkit-scrollbar {
        display: none;
    }
    .navicon2 {
        font-size: 10.67px;
        width: 33%;
        scroll-snap-align: center;
        flex: none;
        text-align: center;
    }
    .navicon2::-webkit-scrollbar {
        display: none;
    }
    .navicon2text {
        display: inline;
        text-align: center;
        outline-style: solid;
        outline-width: 0.5px;
        outline-color: transparent;
        outline-offset: 0px;
    }
    .navicon2text.activeNavicon2 {
        outline-color: rgb(0, 0, 0);
    }
    #lang {
        width: 100%;
        margin-top: 26.5px;
        position: absolute;

        text-align: center;
        float: none;
    }
    .langSelect {
        font-size: 10.67px;
        float: none;
    }
    .content{
        margin-left: 4px;
        font-size: 10.67px;
        outline-style: solid;
        outline-width: 0.5px;
        outline-color: rgb(0, 0, 0);
    }
    .emptyspace {
        width: 100%;
        height: 120px;
    
        display: block;
    }
    .emptyspace2 {
        width: 100%;
        height: 36px;
    }
    .cvResumeHeader {
        margin-left: 33%;
    }
    colgroup.when {
        width: 33%;
    }
    colgroup.what {
        width: calc(100% - 33%);
    }
    table.cvResume {
        width: 100%;
        text-indent: 0px;
        line-height: 1;
        border-spacing: 0px;
    }
    #cvResumeSkills {
        margin-left: 33%;
    }
    #cvResumeEducation {
        margin-left: 33%;
    }
    .albumDescription{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .imgsContainer {
        width: 100%;
    }
    .left {
        width: 16px;
        height: 16px;
        left: 2px;
    }
    .right {
        width: 16px;
        height: 16px;
        right: 2px;
    }
    .img{
        margin-right: 12px;
    }
    .label {
        position: relative;
        display: block;
        padding-left: 0%;
        transform: translateY(0%);
    }
    #compositions {
        width: 100%;
        float: left;
        margin-right: 0px;
    }
    #arrangements {
        width: 100%;
        float: left;
        margin-right: 0px;
    }
    ::placeholder {
        font-size: 10.67px;
    }
    input[type=text] {
        
        font-size: 10.67px;
    }
    footer {
        font-size: 9.48px;
    }   
}