/* Animations */
@keyframes fadeIN{
    from{opacity:0;}
    to{opacity:1;}
}

@-webkit-keyframes fadeIN{
    from{opacity:0;}
    to{opacity:1;}
}

.fadeIN{
    animation-name: fadeIN;
    -webkit-animation-name: fadeIN;
}

@keyframes LtoR{
    from{left:-20px;} 
    /* initial position of animation from left to right */
    to{left:0px;}
}

@-webkit-keyframes LtoR {
    from{left:-20px;} 
    /* initial position of animation from left to right */
    to{left:0px;}
}

.LtoR{
    animation-name: LtoR;
    -webkit-animation-name: LtoR;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

.notextdecoration:hover{
    text-decoration: none;
}

body { 
    width: 100vw;
    padding-left: 12vw;
    padding-top: 16vh;
    background-image: url(IMG_0710.jpeg);
    background-clip: border-box;
    background-position: top;
    background-size: 100%, 100%;
}

header {
    width: 1200px;
    background-color: transparent;

    font-size: 24pt;
    font-weight: 120;
    letter-spacing: 0.36em;
    font-variant: small-caps;
    color: rgb(245, 245, 245);

    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

div.header {
    display: inline-block;
    margin-right: 64px;
}

nav.global {
    float: right;
    position: relative;
    background-color: transparent;

    animation-name: LtoR;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    -webkit-animation-name: LtoR;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;

}

div.global {
    display: inline;
    margin-right: 32px;
}

a {
    cursor: default;
}

main {
    width: 1200px;
    height: 600px;
    margin-top: 48px;
    margin-right: 9vw;

    font-size: 9pt;
    line-height: 24px;
    letter-spacing: 0.12em;
    font-weight: 80;
    text-align: left;
    overflow-y: scroll;
    color:  rgb(245, 245, 245);

    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;

    cursor: default;
}

footer.global {
    position: absolute;
    bottom: 36vh;
    width: auto;
    background-color: transparent;
    
    font-size: 8pt;
    line-height: 24px;
    font-weight: 80;
    letter-spacing: 0.12em;
    color:  rgb(245, 245, 245);

    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;

    cursor: default;
}

/* bio.html */
div.bio {
    width: 1192px;
    padding-bottom: 33%;
}

/* sounds.html / notations.html*/ 
div.window {
    display: inline-block;
    width: 1200px;
    overflow: scroll;
}

div.column1 {
    display: inline-block;
    width: 596px;
    height: auto;
    vertical-align: top;
}

div.column2 {
    display: inline-block;
    width: 596px;
    height: auto;
    vertical-align: top;
}

/* sounds.html */
div.albumCover {
    display: block;
    width: 108px;
    height: 108px;
    /* background-image: url(3C049FC1-8F1A-44AE-94E9-55B19275ACE2.jpeg); */
    background-color: rgb(127, 127, 127);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}

div.table {
    display: inline-block;
    width: 588px;
    height: auto;
    margin-top: 16px;
    margin-bottom: 20px;
    border-top: rgb(127, 127, 127) 1px solid;
    border-bottom: rgb(127, 127, 127) 1px solid;
    font-size: 9pt;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgb(245, 245, 245);
    cursor: default;
}

colgroup.track{
    width: 2%;
}
colgroup.title{
    width: 84%;
}
colgroup.duration{
    width: 6%;
}
colgroup.toggle {
    width: 8%;
}


table tr td:nth-child(3) {
    text-align: right;
}

.bi-play-fill {
    position: relative;
    display: inline-block;
}

.bi-pause-fill {
    position: relative;
    display: none;
}

tr:hover { 
    background-color: rgb(159, 159, 159)
}

.active {
    background-color: rgb(127, 127, 127);
}

footer.progressBar{
    position: relative;
    width: 1200px;
    margin-top: 24px;
    font-weight: 80;
    letter-spacing: 0.1em;
    color: rgb(245, 245, 245);

    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    
    cursor: default;
}

div.progressBar{
    display: inline-block;
    width: 36px;
}

#play {
    position: relative;
    display: inline-block;
}

#pause {
    position: relative;
    display: none;
}

#progressBarContainer {
    width: 972px; /* Width of the outside container */
    height: 3pt;
    vertical-align: middle;
    border-radius: 1.6pt;
    display: inline-block;
    background: rgb(127, 127, 127);
}

#progressBar {
    width: 0%;
    height: 3pt;
    vertical-align: middle;
    border-radius: 1.6pt;
    background-color: rgb(245, 245, 245);
}

#playpause, #previousButton, #nextButton {
    margin-bottom: 0px;
}

#progress {
    width: 40px;
    vertical-align: middle;
    font-size: 6pt;
    display: inline-block;
    margin-left: 6px;
}

#end {
    width: 40px;
    vertical-align: middle;
    font-size: 6pt;
    display: inline-block;
    margin-left: 6px;
}

/* visuals.html */

div.visuals {
    position: relative;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 320px;
    height: auto;
    margin-bottom: 60px;

    outline-style: none;
}

.vplayer {
    display: inline-block;
    width: 320px;
    height: auto;
    margin-left: 2px;

    outline-style: solid;
    outline-color: rgb(245, 245, 245);
    outline-width: 2px;

}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

div.vcontrol {
    position: absolute;
    width: 100%;

    padding-left: 8px;
    bottom: 8px;

    z-index: 4;
}

.vprogressBarContainer {
    vertical-align: middle;
    width: 54%; /* Width of the outside container */
    height: 3pt;
    border-radius: 1.6pt;
    display: inline-block;
    background: rgb(127, 127, 127);
}

.vprogressBar {
    vertical-align: middle;
    width: 0%;
    height: 3pt;
    border-radius: 1.6pt;
    background-color: rgb(245, 245, 245);
}

.vprogress {
    width: 36px;
    vertical-align: middle;
    font-size: 6pt;
    display: inline-block;
    margin-left: 6px;
}

.vend {
    width: 36px;
    vertical-align: middle;
    font-size: 6pt;
    display: inline-block;
    margin-left: 6px;
}

.bi-fullscreen {
    margin-left: 2px;
}

/* notations.html */
#compositions, #arrangements {
    width: 600px;
    height: 48px;

    font-size: 16pt;
    font-weight: 120;
    letter-spacing: 0.24em;
    font-variant: small-caps;
    color: rgb(245, 245, 245);

    opacity: 0;
    animation-name: fadeIN;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: fadeIN;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;

}

div.notations {
    position: relative;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 320px;
    height: 213px;
    margin-bottom: 36px;

    outline-style: solid;
    outline-color: rgb(245, 245, 245);
    outline-width: 2px;
}

div.description {
    position: absolute;
    width: 596px;
    height: 160px;

    top: 0px;
    padding-left: 356px;

    font-size: 9pt;
    line-height: 20px;
    letter-spacing: 0.1em;
    font-weight: 80;
}


/* contact.html */
input {
    font-size: 9pt;
    line-height: 24px;
    letter-spacing: 0.12em;
    font-weight: 80;
    text-align: left;
    color: rgb(245, 245, 245);
    width: 100%;
    border: none;
    background: none;
}

input:focus {
    border: none;
    background: none;
    outline: none; 
}

input:hover {
    cursor: default;
}

input[type=submit] {
    border:2px rgb(245, 245, 245);
    border-radius: 2px;

}

#submit {
    width: 60px;
    cursor: default;
    padding: 0px;
}

#submit:hover {
    cursor: default;
}

#emailAddress {
    width: 240px;
}


#sns {
    position: relative;
    top: 12vh;
}

img {
    vertical-align: bottom;
    margin-right: 16px;
}

/* iPad Pro horizontal */
@media(max-width: 1366px) {
    body { 
        width: auto;
        background-size: 125%, 125%;
    }

    header {
        width: auto;
    }

    div.header {
        display: inline-block;
        margin-right: 32px;
    }

    nav.global {
        margin-right: 9vw;
    }

    main {
        width: auto;
    }

    /* bio.html */
    div.bio {
        width: 99%;
    }

    /* sounds.html / notations.html*/ 
    div.window {
        width: 100%;
    }

    div.column1 {
        width: 49.5%;
    }

    div.column2 {
        width: 49.5%;
    }

    /* sounds.html */
    div.table {
        width: 99%;
    }

    footer.progressBar {
        width: auto;
        margin-right: 9vw;
    }

    #progressBarContainer {
        width: 75%; /* Width of the outside container */
    }

    #progress {
        width: 36px;
        margin-left: 2px;
    }

    #end {
        width: 36px;
        margin-left: 2px;
    }

    /* visuals.html */
    div.visuals {
        width: 256px; /* absval */
        height: auto;
    }

    .vplayer {
        width: 256px; /* absval */
        height: auto;
    }

    .vprogressBarContainer {
        vertical-align: middle;
        width: 46%; /* Width of the outside container */
        height: 3pt;
        border-radius: 1.6pt;
        display: inline-block;
    }
    
    /* notations.html / visuals.html */
    #compositions, #arrangements {
        width: 49.5%;
    }

    div.notations {
        width: 256px; /* absval */
        height: 170px;
    }

    div.description {
        width: 190%;
        height: 100%;
        overflow-y: scroll;

        padding-left: 110%;

        line-height: 20px;
    }
    
}

/* iPad Pro vertical / iPad horizontal */
/* left off work on font size! */
@media(max-width: 1024px) { 
    main {
        font-size: 7pt;
        line-height: 18px;
    }

    body { 
        width: auto;
        background-size: 120%, 120%;
    }

    /* sounds.html / notations.html */
    div.column1 {
        width: 49%;
    }

    div.column2 {
        width: 49%;
    }

    /* sounds.html */
    #progressBarContainer {
        width: 72%; /* Width of the outside container */
    }

    #progressBar {
        margin-top: 1px;
    }

    #progress {
        width: 32px;
        margin-left: 2px;
    }

    #end {
        width: 32px;
        margin-left: 2px;
    }

    /* notations.html / visuals.html */
    #compositions, #arrangements {
        width: 49%;
    }

    div.notations {
        width: 200px; /* absval */
        height: 133px;
    }

    div.description { 
        line-height: 20px;
        font-size: 7pt;
    }
    
    /* visuals.html */
}

/* iPad vertical */
@media(max-width: 768px) {
    main {
        height: 66vh;
        font-size: 7pt;
        line-height: 18px;
    }

    body {
        padding-left: 10vw;
        padding-top: 7.5vh;
        background-size: 225%, 225%;
        background-position: top;
    }

    div.header {
        display: block;
        width: auto;
        line-height: 48px;
    }

    nav.global {
        float: left;
        width: 45px;
        line-height: 60px;

        margin-top: 36px;
        margin-right: 12px;
    }

    div.global { 
        margin-right: 0px; 
    }


    footer.global {
        bottom: 16vh;

        font-size: 7pt;
    }

     /* sounds.html / notations.html*/ 

    /* sounds.html */
    div.table {
        width: 95%;

        font-size: 6pt;
    }

    footer.progressBar {
        width: auto;
        text-align: left;

        line-height: 36px;
    }

    /* notations.html */
    #compositions, #arrangements {
        width: 99%;
        margin-top: 10px;
    }

    div.notations {
        width: 213px;
        height: 142px;

        margin-bottom: 144px;
    }

    div.description {
        width: 100%;
        height: auto;

        padding-top: 70%;
        padding-left: 0%;

        font-size: 7pt;
        line-height: 16px;

        overflow-y: hidden;
    }
}

/* iPhone / mobile devices */
@media(max-width: 425px) {
    main {
        width: 275px;
        height: 66vh;
        margin-top: 12px;
        font-size: 7pt;
        line-height: 16px;
        
    }

    body {
        padding-left: 10vw;
        padding-top: 7.5vh;
        background-size: 330%, 330%;
        background-position: top;
    }

    header {
        font-size: 20pt;
    }

    div.header {
        display: block;
        width: auto;
        line-height: 48px;
    }

    nav.global {
        float: left;
        width: 45px;
        line-height: 54px;

        margin-top: 0px;
        margin-right: 0px;
    }

    div.global { 
        margin-right: 0px; 
    }

    .global svg {
        width: 20px;
        height: 20px;
    }

    footer.global {
        bottom: 16vh;

        font-size: 7pt;
    }

    /* sounds.html / notations.html*/ 
    div.column1 { 
        width: 99%;
    }

    div.column2 {
        width: 99%;
    }

    /* sounds.html */
    div.table {
        width: 95%;

        font-size: 6pt;
    }

    footer.progressBar {
        text-align: center;
        line-height: 36px;
        margin-top: 0px;
        margin-right: 0vw;
    }

    #progressBarContainer {
        width: 32%;
        margin-top: 1px;
    }

    #progress {
        display: inline-block;
        width: 36px;
    }

    #end {
        display: inline-block;
        width: 36px;
        margin-left: 2px;
    }

    /* notations.html / visuals.html */
    #compositions, #arrangements {
        width: 99%;
        margin-top: 10px;
    }

    div.notations {
        width: 213px;
        height: 142px;

        margin-bottom: 120px;
    }

    div.description {
        width: 100%;
        height: auto;

        padding-top: 60%;
        padding-left: 0%;

        font-size: 7pt;
        line-height: 15px;

        overflow-y: hidden;
    }

    div.visuals {
        margin-bottom: 120px;
    }

    /* contact.html */
    #sns {
        position: absolute;
        top: 48vh;
    }

    input {
        font-size: 7pt;
        width: 120px;
    }
}

@media(max-height: 768px) {
    main {
        height: 480px;
    }

    div.description { 
        line-height: 16px;
    }


} 